h1 {
  font-size : 72px;
}
img {
  width : 35%;
  height : 25%;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius:3px;
  box-shadow: 8px 8px 7px 8px rgba(112, 92, 94, 0.2);
  padding:15px;
  margin:10px;
  display:inline-block; 
}
#stats{
  display:inline-block; 
  width: 65%;
  height:25%;
  border-style:solid;
  border-radius: 3px;
  border-color: darkgray;
  background-color: darkgray;
  padding:12px;
  margin:10px;
  box-shadow: 8px 8px 7px 8px rgba(112, 92, 94, 0.2);
}
