h1 {
  font-size : 72px;
}
body {
  margin: 15px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/375/040/non_2x/modern-white-background-free-vector.jpg");
  background-color: #FFFFFF;
  font-size: 30px;
}
meter{
  position: sticky;
  left: 100vw; 
  width: 20vw;
}
button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:hover {
  background-color: #f9fafb;
}

button:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#Enter {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1e;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

#Enter:focus {
  background-color: white;
  transform: scale(1.0);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}
.inputs{
  font-size: 28px;
}
#input{
  display:flex;
  gap: 10px;
  margin: 20px;
  font-size: 32px;
}
#action{
  height: 38vh;
  width: 98vw;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 10px;
}
#Img {
  flex-grow: 0;
  
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius:3px;
  box-shadow: 8px 8px 7px 8px rgba(112, 92, 94, 0.2);
  padding:10px;
  margin:10px;
  display:inline-block; 
}
#stats{
  display:inline-block; 
  line-height: 1;
   width: 25vw;
  flex-grow: 1;
  border-style:solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #d4d2d2;
  background-color: #c3c0c0;
  padding:8px;
  margin:10px;
  box-shadow: 8px 8px 7px 8px rgba(112, 92, 94, 0.2);
}
/* checkbox settings 👇 */

#shiny {
  --primary-color: #1677ff;
  --secondary-color: #fff;
  --primary-hover-color: #4096ff;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

#shiny, 
#shiny *, 
#shiny *::before, 
#shiny *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#shiny {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  margin: 10px;
}

#shiny::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

#shiny::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

#shiny:hover {
  border-color: var(--primary-color);
}

#shiny:checked {
  background: var(--primary-color);
  border-color: transparent;
}

#shiny::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
#shiny:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}
@media (max-width: 600px) {
  #stats,#Img {
    flex: 100%;
    max-width: 100%;
  }
}





