h1 {
  font-size : 72px;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/267/214/small_2x/modern-clean-white-background-free-vector.jpg");
  background-color: #FFFFFF;
}
#action{
  height: 34vh;
  width: 98vw;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 10px;
}
#Img {
  flex-grow: 0;
  
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius:3px;
  box-shadow: 8px 8px 7px 8px rgba(112, 92, 94, 0.2);
  padding:12px;
  margin:10px;
  display:inline-block; 
}
#stats{
  display:inline-block; 
  
  flex-grow: 6;
  border-style:solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: darkgray;
  background-color: darkgray;
  padding:12px;
  margin:10px;
  box-shadow: 8px 8px 7px 8px rgba(112, 92, 94, 0.2);
}
